PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/toolify
JWT_SECRET=replace_with_a_strong_secret

HF_API_KEY=your_huggingface_api_key

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
PLATFORM_FEE_RATE=20

CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret
FOLDER_NAME=toolify
